<%- include("../header") %>
<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Categories</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">All Categories</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title m-b-0">All Categories</h5>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Category Name</th>
                                <th>Image</th>
                                <th colspan="2">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% categories.forEach((category, index) => { %>
                                <tr>
                                    <td><%= index + 1 %></td>
                                    <td><%= category.name %></td>
                                    <td>
                                        <% if (category.image) { %>
                                            <img src="<%= category.image %>" alt="Category Image" width="50">
                                        <% } else { %>
                                            No Image
                                        <% } %>
                                    </td>
                                    <td><a href="/categories/edit/<%= category._id %>" class="btn btn-warning btn-sm">Edit</a></td>
                                    <td><a href="/categories/delete/<%= category._id %>" class="btn btn-danger btn-sm">Delete</a></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../footer") %>
