<%- include("../header") %>

<div class="page-wrapper">
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Edit Category</h4>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <!-- enctype added for image upload -->
          <form action="/categories/update/<%= category._id %>" method="POST" enctype="multipart/form-data">
            <div class="card-body">
              <h4 class="card-title">Update Category</h4>

              <!-- Name -->
              <div class="form-group row">
                <label class="col-sm-3 text-right control-label col-form-label">Name</label>
                <div class="col-sm-9">
                  <input type="text" name="name" value="<%= category.name %>" class="form-control" required>
                </div>
              </div>

              <!-- Image Upload -->
              <div class="form-group row">
                <label class="col-sm-3 text-right control-label col-form-label">Image</label>
                <div class="col-sm-9">
                  <input type="file" name="image" id="image" class="form-control" accept="image/*">
                  <% if (category.image) { %>
                    <div class="mt-2">
                      <img src="<%= category.image %>" alt="Current Image" width="80">
                    </div>
                  <% } %>
                </div>
              </div>
            </div>

            <div class="border-top">
              <div class="card-body">
                <button type="submit" class="btn btn-success">Update</button>
                <a href="/categories" class="btn btn-secondary">Back</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("../footer") %>
